<!DOCTYPE html>
<html lang="en" dir="ltr">



<head>

  <meta charset="utf-8">

  <title>mSWAN - Mood Swing Analyser</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="icon" href= "{{ url_for('static',filename='styles/favicon.ico') }}">
  <link rel="webp" href= "{{ url_for('static',filename='styles/img0.webp') }}">
  <link rel="webp" href= "{{ url_for('static',filename='styles/img1.webp') }}">
  <link rel="webp" href= "{{ url_for('static',filename='styles/img2.webp') }}">  

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">


</head>

<body>
  <div class="form-container">



  <form class="" action="{{url_for('run_model')}}" method="post" name = "input">

    <label for="">How do you feel ?</label>
    <br>
    <br>
    <input id="textbox" type="text" name="write" value="">
    <br>
    <br>
    <button id="submit"type="submit" name="submit" value="Submit">Submit</button>


  </form>
  <br>
  <br>
  {{prediction_text}}
  <br>
  <br>
  </div>
</body>
