<!DOCTYPE html>
<html lang="en" dir="ltr">



<head>

  <meta charset="utf-8">

  <title>mSWAN - Mood Swing Analyser</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href= "{{ url_for('static',filename='styles/favicon.ico') }}">
  <link rel="webp" href= "{{ url_for('static',filename='styles/img0.webp') }}">
  <link rel="webp" href= "{{ url_for('static',filename='styles/img1.webp') }}">
  <link rel="webp" href= "{{ url_for('static',filename='styles/img2.webp') }}"> 

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

  <style>
    .middle-container {
      padding: 290px 200px;
    }
  </style>


</head>



<body>


  <div class="middle-container">
    <h1>We hope you have a great day ahead !</h1>
  </div>


</body>

</html>
